/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
   /* background-color: #000; */
 }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.container {
  margin-top: 42px;
}



.errorMessage {
  padding: 1px;
  border-radius: 3px;
  color: #fff;
  background-color: #EF534F;
}

.message {
  padding: 1px;
  border-radius: 3px;
  color: #000;
  /* background-color: #49BCAD; */
  display: block;
  font-size: 18px;
} 

.daysList{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 5px;
  margin: 5% 0 0 0;
}

.daysList a{
  border: solid #C0C0C0 3px;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  /* background: #C0C0C0 100%; */
  font-size: 20px;
  margin: 0 0px 10px 0;
  color: #000;
  width: 67%;
}


[type="checkbox"]+span:not(.lever) {
  padding-left: 25px;
}

.extra {
  background-color: red;
}

.enough {
  background-color: green;
}
.less {
  background-color: #fff;
}

.list{
  border: solid #C0C0C0 1px;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
    font-size: 13px;
    color: #000;
    margin: 2px;
}

.waiterDays{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 5px;
  margin: 5% 0 0 0;
}